.device-outer {
  width: 100vw;
  height: 100vh;
  background: white;
  user-select: none;
}

.device-inner {
  width: 100%;
  height: 100%;
}

.device-screen {
  width: 100%;
  height: 100%;
  position: relative;
}

@media (hover: hover) {
  .device-mobile.device-outer {
    display: grid;
    place-content: center;
    background: #778899;
  }
  
  .device-mobile .device-inner {
    width: 390px;
    height: 844px;
  }
  
  .device-mobile .device-screen {
    border-radius: 1.5rem;
    background: white;
    overflow: hidden;
    outline: 6px solid black;
  }
}